<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <p>Error</p>
  </body>